// 主页侧边栏个人信息
.information {
  margin-top: 20px;
  img {
    margin: 10px auto;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  h2 {
    margin: 10px auto;
    width: 80%;
    font-size: 20px;
    text-align: center;
  }
  .infor-content {
    margin: 0px auto;
    width: 80%;
    text-align: center;
    color: gray;
  }
  .product-nums {
    // border: 1px solid #000;
    margin: 10px auto;
    width: 60%;
    display: flex;
    justify-content: space-around;
    span {
      width: 30%;
      text-align: center;
      cursor: pointer;
    }
    .infor-project {
      border-right: none;
    }
  }
  .infor-other {
    height: 20px;
    width: 100%;
  }
}

