.article{
    padding: 0 20px;
    .article-item{
        width: 80%;
        height: 160px;
        padding: 15px 20px;
        box-sizing: border-box;
        background-color: #fff;
        border: 1px solid #000;
    }
}