.article {
  padding: 0 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100vh;
  background-color: #f4f5f5;
  .article-search {
    display: flex;
    justify-content: flex-end;
    width: 76.5%;
    background-color: #fff;
    position: fixed;
    height: 50px;
    z-index: 9;
  }
  .articles {
    padding-top: 50px;
    .loading{
      height: 200px;
    }
    .article-item {
      margin-top: 10px;
      .ant-card-head-title {
        font-size: 18px;
        font-weight: 800;
      }
      // .article-content {
      //   height: 45px;
      //   display: -webkit-box;
      //   -webkit-box-orient: vertical;
      //   -webkit-line-clamp: 2;
      //   overflow: hidden;
      //   text-indent: 25px;
      // }
      .bottom {
        display: flex;
        justify-content: space-between;
        color: grey;
        .bottom-left {
          width: 23%;
          display: flex;
          justify-content: space-between;
          // border: 1px solid #000;
        }
      }
    }
  }
}
