.leave-message{
    padding: 20px 80px;
    height: 100vh;
    overflow:scroll;
    .textarea-bar {
        width: 100%;
        margin-top: 0 auto 0 auto;
        display: flex;
        justify-content: center;
        .textarea {
          width: 100%;
          > h2 {
            font-weight: 700;
          }
          .comment-textarea {
            margin-top: 10px;
          }
          .comment-btn {
            margin-top: 20px;
            float: right;
          }
        }
      }
    .messages{
        margin-top: 40px;
        box-sizing: border-box;
        .message{
            margin-top: 10px;
            background-color: #fff;
            padding:25px 20px 0px 20px;
            border-radius: 15px;
           
        }
        .secend-message{
          width: 92%;
          background-color: #fff;
          padding:25px 20px 0px 20px;
          border-radius: 15px;
          margin: 10px auto 0;
        }
        .message-input{
          margin: 10px auto 0;
          width: 92%;
        }
       
    }
}