.project {
    padding: 0 20px;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 100vh;
    background-color: rgb(245, 245, 245);


   
    .projects {
      padding-top: 10px;
      .jump{
          color: #189EFF;
          cursor: pointer;
      }
      .loading{
        height: 200px;
      }
      .project-item {
        margin-top: 10px;
        .ant-card-head-title {
          font-size: 18px;
          font-weight: 700;
        }
        .ant-card-body{
          padding: 15px 24px 5px 24px;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          color: rgb(22, 19, 19);
          .bottom-left {
            width: 80%;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  