@import '~antd/dist/antd.css';

.layout{
    width: 100%;
    height: 100vh;
   
}
.header{
    width: 100%;
    background-color:skyblue;
}
.content{
    background-color: #108EE9;
    width: 65%;
    height: 100%;
}
.sider{
    width:35%;
    background-color:rgb(43, 43, 250);
}
.footer{
    background-color: #3BA0E9;
}